@import url(reset.css);

/*HTML5*/
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {font-family: Helvetica, Arial, sans-serif;}

.first {margin-left: 0px !important;}
.last {margin-right: 0px !important;}
.off {text-indent: -10000px; margin-top: -40px;}

a, a:active, a:visited {color: #cd0000;}
a:hover {color: #ccc;}

#container {margin: 0 auto 62px auto; overflow: auto; padding-top: 12px; width: 980px;}

aside {float: left; padding-left: 18px; width: 264px;}

section {border-right: #ccc 1px dotted; float: left; padding-right: 18px; width: 676px;}
section article {color:#333; margin-bottom: 24px;}
section article h2 {font-size: 36px; font-weight: 400; letter-spacing: 1px;}
section article h2 a {color: #EE3F20;}
section article h2 a:hover {color: #ccc;}
section article h3 {font-weight: 400; letter-spacing: 2px; margin-left: 5px; text-transform: uppercase;}
section article .body {background: #fff; color:#333; font-size: 16px; line-height: 24px;}
section article p {margin: 6px 3px 12px 3px;}
section article p:first-child:first-line {font-size: 24px; font-variant: small-caps; letter-spacing: 1px; line-height: 30px;}
section article p.pullquote {float: right; font-size: 32px; font-style: italic; font-weight: bold; line-height: 1em; margin: 0 18px; text-align: right; width: 300px;}
section article ol {list-style: decimal; margin: 6px 3px 12px 24px;}
section article span.date {border-bottom: #999 1px dotted; color: #333; display: block; margin: 6px 0 12px 0; padding-bottom: 3px;}
section article a.title img, section article img.title {outline: #ccc 8px solid; margin: 10px;}
section article a:hover.title img {outline: #cd0000 8px solid;}

section #recentMain {margin: 6px 0;}
section #recentMain h2 {border-bottom: #ccc 1px solid; color: #333; font-size: 14px; 
	padding: 3px 0; text-transform: uppercase;}
section #recentMain a {color: #999; display: block; float: left; font-size: 22px; line-height: 1em; 
	height: 139px; margin: 12px 11px 3px 3px; outline: 3px #ccc solid; overflow: hidden; padding: 8px; text-transform: capitalize; 
	width: 139px;}
section #recentMain a:hover {background: #eee; outline: #999 3px solid;}

form p {background: #fff; color:#333; line-height: 21px; margin: 6px 3px 12px 3px;}
form p label {text-transform: uppercase;}
input[type='text'], 
input[type='password'] {font-size: 24px; letter-spacing: 2px; padding: 4px; text-align: center; 
	text-transform: uppercase; width: 98%;}
input[type='text']:focus, input[type='password']:focus, textarea:focus {border: #cd0000 2px solid;}
textarea {font-size: 16px; padding: 4px; width: 98%;}

header {background: #eee; border-bottom: #ccc 3px solid; padding: 8px 0 0px 0; text-align: center;}
header h1 a, 
header h1 a:visited {color: #333333; font-size: 40px; font-weight: 100;}
header h1 a:hover {color: #cd0000;}
header h2 {color: #666; font-family: Times, serif; font-size: 16px; font-weight: 100; font-style: italic;}

footer {background: #ccc; border-top: #eee 3px solid; bottom: 0px; height: 14px; padding: 8px 0; position: fixed; width: 100%;}
footer nav.static ul {float: right; margin-right: 12px;}
footer nav.static li {float: left; font-size: 12px; margin: 0 4px;}
footer nav.static li a:hover {color: #333;}

.sidebar {border: #ccc 1px solid; margin: 12px 0; padding: 12px; text-align: right;}
.sidebar h2 {border-bottom: #ccc 1px solid; color: #333; font-size: 14px; padding: 3px 0; 
	text-transform: uppercase;}
.sidebar li {border-bottom: #ccc 1px dashed;}
.sidebar li a {color: #666; display: block; font-size: 12px; padding: 6px;}
.sidebar li a:hover, .sidebar li a:focus {background: #eee; color: #cd0000;}
.sidebar li:last-child {border-bottom: none;}
.sidebar li.archive a {color: #999; font-style: normal; font-size: 12px;}
.sidebar li.archive a:hover {color: #cd0000;}

.archiveContainer {border: #ccc 1px solid; margin: 12px 0; text-align: center;}
.archiveContainer h1 {background: #333; border-bottom: #ccc 1px solid; color: #cd0000; font-size: 24px; font-weight: 100; 
	letter-spacing: 3px; padding: 12px 0;}
.archiveContainer h2 {background: #eee; color: #333; padding: 4px 0;
	text-transform: uppercase;}
.archiveContainer li a {color: #666; display: block; font-style: italic; padding: 6px 0; text-transform: capitalize;}
.archiveContainer li a:hover, #recent li a:focus {background: #ccc; color: #cd0000;}

.topSeparator {background: #333; height: 12px; overflow: auto; margin-top: -3px; padding: 4px;}
.topSeparator nav ul {float: right;}
.topSeparator nav li {float: left; font-size: 12px; margin: 0 4px;}

nav.adminControls {background: #333; height: 12px; overflow: auto; padding: 4px;}
nav.adminControls ul {float: right;}
nav.adminControls li {float: left; font-size: 12px; margin: 0 4px;}

.snippet {background: #eee; font-family: Courier; font-size: 12px; outline: #eee 1px solid; overflow: auto; padding: 4px; 
	white-space: pre;}

table {
    border: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
    table-layout: fixed;    
}
th {
    background: #f0f0f0;
}
th, td {
    border: 1px solid rgb(200, 200, 200);
    padding: 5px; 
}

/* Error Reporting Styles */

/*.fieldWithErrors {
  margin: 2px;
  padding: 2px;
  background-color: red;
  display: table;
  
}*/

.fieldWithErrors {
	border: red 1px solid;
	
}

#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	font-size: 12pt;
	margin: -7px;
	background-color: #c00;
	color: #fff;		
}

#errorExplanation p {
	background-color: #f0f0f0;
	color: #333;
	margin-bottom: 0;
	margin-top: 8px;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 11pt;
	list-style: square;
	margin-left: 50px;
}

/*Flash Notice Style*/

#notice {
	border: 1px solid green;
	padding: 1em;
	margin: 1em;
	margin-bottom: 2em;
	background-color: lightgray;
	text-align: center;
/*	font: bold smaller sans-serif;*/
}
	
#error {
	border: 1px solid #c99;
	background: #c00;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	width: 500px;
}

/*Hide the player*/
#ymp-player,
#ymp-tray,
#ymp-error-bubble,
#ymp-secret-bubble {
display:none !important;
}

