<article>
	<p>Hi, I'm called Dan Weaver.</p>

	<h3>I built this site because:</h3>

	<ol>
		<li>That's what I do, I build websites. I wanted to build a new one for myself. This site is built from scratch using Ruby on Rails and is (and will continue to be) a work in progress as well as a place for me to try new things.</li>
		<li>I like to write stuff. Fuck you.</li>
	</ol>

	<h3>what you can expect:</h3>

	<ol>
		<li>Foul language.</li>
		<li>Songs and writing about songs.</li>
		<li>Things that make little to no sense.</li>
		<li>Other things that make slightly more sense than that.</li>
		<li>Lists</li>
	</ol>

	<h3>Some things of note:</h3>

	<ol>
		<li>If my site looks a little off it's probably because you are using a backwards-ass browser. I'm not going to write special code for you. Go download a standards-compliant browser like Firefox, Chrome, Safari, or Opera.</li>
		<li>That's basically it.</li>
	</ol>

	<h3>About me, quickly:</h3>

	<ol>
		<li>I live in Denver, CO.</li>
		<li>I've got two cool kids who are way fucking cuter than any other kids.</li>
		<li>I've got a big brown dog who can escape from anywhere.</li>
		<li>I've got a bastard-ass cat who is a good friend of mine.</li>
		<li>I like video games and web programming.</li>
    <li>I'm actually a very nice person.</li>
	</ol>
</article>
