<article>
	<p class="lemonde">Hi, I'm called Dan Weaver.</p>
	<p class="lemonde">You can contact me: daniel {dot} weaver {at} gmail {dot} com</p>
	<p class="lemonde">I get most of my pictures from <a href="http://www.flickr.com/photos/superbomba/">here</a>.</p>
</article>
