<div class="archiveContainer">
	<ul>
		<% @posts.each do |p| %>
			<% unless p.updated_at.year == @posts[(@posts.index(p))-1].updated_at.year %>
				<li><h1><%= p.updated_at.year %></h1></li>
			<% end %>
			<% unless p.updated_at.month == @posts[(@posts.index(p))-1].updated_at.month %>
				<li><h2 class="tk-sorts-mill-goudy"><%= p.updated_at.strftime("%B") %></h2></li>
			<% end %>
			<li><%= link_to p.title, p, :class => 'tk-sorts-mill-goudy' %></li>
		<% end %>
	</ul>
</div>