<p class="date"><%= Date.today.strftime("%m/%d/%Y") %></p>
<h2 class="tk-sorts-mill-lemonde">Welcome to the new website of Dan Weaver</h2>

<img src="/images/vampd.jpg" alt="" />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tortor enim, nec luctus lectus. Suspendisse semper, neque vel faucibus interdum, lacus nisi vehicula turpis, ut dignissim purus magna eu nisi. Vestibulum sed urna elit, sed facilisis neque. Vivamus sed hendrerit odio. Sed pretium luctus augue, quis luctus ipsum ullamcorper eget. Ut arcu ipsum, condimentum ac faucibus eu, vehicula vel diam. Duis tristique, quam id lacinia viverra, lorem tortor pretium urna, ut placerat lacus dui vel magna. Mauris lectus arcu, aliquam ultrices auctor sed, blandit sit amet ligula. Quisque est dolor, faucibus at interdum id, accumsan sed massa. Sed mattis dapibus elit eget consequat. Pellentesque nec enim in tortor interdum blandit. Donec egestas consequat augue, accumsan laoreet nunc pellentesque facilisis. Fusce et sapien urna. Mauris tincidunt dui id lectus ultricies sit amet cursus leo vulputate. Pellentesque convallis, tortor sit amet euismod tristique, ante ipsum luctus sapien, nec interdum augue sem congue augue. Sed eu ligula libero. Sed nibh nunc, facilisis cursus interdum non, ullamcorper id enim. Quisque venenatis pulvinar nisi, sit amet condimentum odio volutpat sit amet. Sed vitae diam id nisl tincidunt dictum.</p>

<p>Quisque id felis quam. Duis ultricies, arcu eget auctor pellentesque, mauris lectus dignissim lacus, vel suscipit arcu lorem a sapien. Ut ullamcorper justo at enim interdum hendrerit. Pellentesque eleifend interdum convallis. Etiam dapibus metus non risus vulputate ut ultricies ante accumsan. Pellentesque tincidunt tempus lorem, eget viverra odio scelerisque id. Cras ultrices neque sem, a viverra nisl. Aliquam accumsan turpis eu lorem eleifend commodo. Nulla non ante quis leo rhoncus blandit ultricies non elit. Mauris lacinia facilisis dolor, at pretium lacus ultrices nec. Sed ac venenatis orci. Nullam in egestas dui. Phasellus molestie semper dui non tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ullamcorper accumsan justo eu elementum. Cras euismod aliquam blandit. Nam nec molestie justo. Ut cursus, lorem ut condimentum aliquam, nulla velit aliquet eros, ut consectetur ligula lectus et purus.</p>

<p>
	<script type="syntaxhighlighter" class="brush: ruby"><![CDATA[
	
		require File.join(File.dirname(__FILE__), 'boot')
		Rails::Initializer.run do |config|
	]]></script>
</p>
